<div id="about" class="bg-black pt-[82px] lg:overflow-hidden lg:pt-[106px] py-14 dark:bg-none md:py-20">
    <div class="bg-[url(/assets/images/overlay-noise.png)] bg-cover bg-no-repeat pt-14 lg:pt-20">
        <div class="container">
            <div class="grid items-center gap-y-16 gap-x-8 lg:grid-cols-2">
                <div class="relative">
                    <img src="/assets/images/personal-portfolio/about-block.png" alt=""
                        class="absolute top-8 hidden ltr:-left-16 rtl:-right-16 dark:hidden md:block"
                        data-aos="fade-right" data-aos-duration="1000" />
                    <img src="/assets/images/personal-portfolio/about-block-dark.png" alt=""
                        class="absolute top-8 hidden ltr:-left-16 rtl:-right-16 dark:hidden dark:md:block"
                        data-aos="fade-right" data-aos-duration="1000" />
                    <img src="/assets/images/personal-portfolio/dev-ilus3.png" alt="" class="h-full w-full object-cover" />
                    <img src="/assets/images/personal-portfolio/profile3.png" alt=""
                        class="absolute -bottom-10 ltr:-left-10 rtl:-right-10" data-aos="fade-up"
                        data-aos-duration="1000" />
                </div>
                <div>
                    <div class="mb-2">
                        <h6 class="mb-4 text-lg font-extrabold uppercase text-secondary"><span
                                class="text-primary">/</span> About ME</h6>
                        <h2 class="text-3xl font-black leading-normal text-black dark:text-white md:text-[40px]">Junior
                            Full Stack Web Developer</h2>
                    </div>
                    <p class="text-lg font-medium">
                        Hi, my name is <span class="text-white underline">Julio Jiménez</span>,
                        and I'm a dedicated <span class="text-white underline">Full Stack Web Developer</span> from Spain.
                        I am determined to continue improving my web development skills, learning new technologies, and staying up-to-date!

                    </p>
                    <p class="text-lg font-medium mt-4">
                        Even though I don't presently have any actual job experience in this industry, I am excited to
                        take advantage of my first
                        chance to grow professionally and work with a team.
                    </p>
                    <p class="text-lg font-medium mt-4">
                        I am on a road of continual progress, driven by a <span class="text-white">strong desire to
                            learn and a strong work ethic</span>.
                        I am excited to make a significant contribution to the evolving sector of web development.
                    </p>

                </div>


        </div>

    </div>
</div>
